body {
    overflow: hidden;
    position: relative;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

button {
    width: 75px;
    height: 75px;
    background-color: rgba(255, 255, 255, 0.1); /* change the color and opacity as desired */
    color: white;
    font-size: 20px;
}

canvas {
    position: relative;
}

#controls {
    position: absolute;
    bottom: 15%;
    left: 5%;
    z-index: 10;
    opacity: 0.7;
}

#up-arrow, #down-arrow {
    margin-left: 30px;
}